.any-questions {
    position: relative;
    max-width: 1170px;    
    margin: 140px auto auto;
    text-align: start;   
    
    @media (max-width:$tablet-width) {
        margin-top: 110px;
    }

    @media (max-width:$mobile-width) {
        width: 100%;
        margin-top: 50px;
    }
}

.any-questions__picture {
    @media (max-width: $tablet-width) {
        width: 100%;
    }
    @media (max-width: $mobile-width) {
        display: none;
    }
}

.any-questions__form {
    position: absolute;
    width: 658px;
    right: 1%;
    top: 70px;
    background-color: $basic-white;
    text-align: center;
    padding-bottom: 49px;
    
    box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
    
    @media (max-width:$tablet-width) {
        transform: translate(-50%);
        left: 50%;
    }

    @media (max-width: $mobile-width) {
        position: relative;
        top: 0;
        width: 100%;
        background-color: $form-background;
        box-shadow: none;
        padding: 50px 0;
    }
}

.any-questions__inputs-container {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-top: 24px;

    @media (max-width: $mobile-width) {
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto 5%;
    }

    @media (max-width: $mobile-width) {
        gap: 0;
    }
}

.any-questions__form-title {
    margin: 0;
    margin-top: 50px;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;

    @media (max-width: $mobile-width) {
        margin: auto 5%;
    }
}

.any-questions__form-text {
    margin: 0;
    margin-top: 15px;

    @media (max-width: $mobile-width) {
        margin: 20px 5% 0;
    }
}

.any-questions__fieldset {
    position: relative;
    display: flex;    
    padding: 0;
    border: 1px solid $text-tabs;
    background-color: $basic-white;

    @media (max-width: $mobile-width) {
        margin-top: 20px;
    }
}

.any-questions__fieldset-label.required::after {
    position: absolute;
    content: "*";
    color: $on-hover-link;
    left: 15px;
    top: 6px;
}

.any-questions__input {
    width: 269px;
    height: 50px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-left: 26px;

    &::placeholder {
        font-family: "Montserrat","Arial",sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: $text-most-black;
    }
}

.any-questions__button {
    margin-top: 25px;
    width: 176px;
    height: 50px;

    @media (max-width: $mobile-width) {
        margin: 20px 5%;
        width: 90%;
    }
}
