.country-details {
    border: 3px solid chartreuse;

    position: relative;
    max-width: 1444px;
    margin: auto;
    margin-top: 124px;
    padding-left: 137px;
    overflow: hidden;

    text-align: start;

    @media (max-width:$tablet-width) {
        margin-top: 95px;
        padding-left: 0;
    }
}

.country-details__background-map {
 position: absolute;
 top: 120px;
 left: 45%;
 transform: translate(-50%);
 overflow: hidden;

 @media (max-width:$tablet-width) {
    display: none;
}
}

.country-details__names-list {  
    position: absolute; 
    width: min-content;
    display: flex;
    justify-content: start;
    gap: 99px;
    padding-bottom: 15px;
    border-bottom: 1px solid $text-tabs;

    @media (max-width:$tablet-width) {
        margin-left: 21px;        
    }
}

.country-details__names-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $text-tabs;
    position: relative;
}

.country-details__names-item.countries-details__names-item--active {
    color: $on-hover-link;
}

.country-details__description-list {
    border: 1px dashed indianred;
    margin-top: 104px;
}

.country-details__description-item {
    position: relative;
    max-width: 900px;
    display: grid;
    grid-template-areas: "title photo"
                         "text photo"
                         "button photo";
                
    @media (max-width:$tablet-width) {
        grid-template-areas: "title"
                             "text"
                             "button"
                             "photo";
        text-align: center;
    }
}

.country-details__description-title {
    position: relative;
    
    grid-area: title;

    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 55px;
    line-height: 90px; 
    letter-spacing: -1.245px;
}

.country-details__description-title::after {
    content: "";
    background: $on-hover-link;
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 2.92px;
    width: 175px;

    @media (max-width:$tablet-width) {
        display: none;
    }
}

.country-details__description-text {
    grid-area: text;
    margin-top: 53px;
    margin-bottom: 0;
    width: 370px;
    color: $text-ordinary;
    letter-spacing: -0.466667px;

    @media (max-width:$tablet-width) {
        width: auto;
        margin: 21px 21px 0;
    }
}

.country-details__description-button {
    grid-area: button;
    margin-top: 50px;       
    width: 250px;    

    @media (max-width:$tablet-width) {
        margin: auto; 
        margin-top: 21px;       
    }
}

.country-details__photo-container {
    grid-area: photo;
    text-align: end;
}

.country-details__photo {
    @media (max-width: $tablet-width) {
        height: 415px;
        width: 100%;
        margin-top: 30px;
    }
}

.country-details__feedback-item {
    border: 1px solid indigo;
    position: absolute;
    right: 15%;
    top: 220px;
    background-color: $basic-white;
    width: 382px;
    padding-left: 30px;

    @media (max-width: $tablet-width) {
        left: 50%;
        transform: translate(-50%);
        top: auto;
        bottom: 0;
        text-align: start;
    }
}

.country-details__feedback-title {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px; 
}

.country-details__feedback-title::after {
    content: "";
    background: $on-hover-link;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 0.73px;
    width: 68px;
}

.country-details__feedback-text {
    color: $text-ordinary;
    font-size: 14px;
    letter-spacing: 0.408333px;
    margin-right: 30px;
}
.country-feedback__person-container {
    display: flex;
    flex-direction: row;
}

.country-details__feedback-face {
    border-radius: 50%;
    padding: 15px 10px;
}

.country-details__feedback-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.466667px;
}