.countries-information__names-list {
    display: flex;
    justify-content: center;
    gap: 99px;
}

.countries-information__names-item-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    color: $text-tabs;
}