.intro {
    height: fit-content;
    position: relative; 
    color: $basic-white;
    display: none;
}

.intro__background-image {   
    background-color: $image-background;  
    width: 100%;  
    height: auto;
    min-height: 235px;
    object-fit: cover;
    overflow: hidden;
    display: block;
    max-width: 100%;
}

.intro__text-block {
    display: inline-block;
    position: absolute;    
    top: 21%;
    left: 56%;
    max-width: 412px;
    min-width: 288px;

    color: $basic-white;
    text-align: start;

    @media (max-width: $tablet-width) {
        top: 60px;
        left: 50%;
        transform: translate(-50%);
        width: 398px;
        text-align: center;
    }
}

.intro__title {
    font-size: 55px;
    font-weight: 600;
    line-height: 80px; 
    margin: 0;
    
    @media (max-width: $tablet-width) {
        font-size: 30px;
        line-height: 150%;
    }

    @media (max-width: $mobile-width) {
        font-size: 24px;
        margin: auto;
        width: 75%;
    }
}

.intro__description {
    line-height: 170%;
    letter-spacing: -0.466667px;
    margin-top: 30px;
    
    @media (max-width: $mobile-width) {
        position: absolute;
        color: $text-most-black;
        top: 164px;
        width: 95%;
    }
}

.intro__button {    
    text-decoration: none;    
    width: 75%;
    padding: 0 40px;   
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-width) {
        width: 170px;
    }

    @media (max-width: $mobile-width) {
        position: absolute;
        top: 320px;
    }
}
