.page {
    height: 100%;
  
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size: 16px;
    line-height: 28px;
    color: $text_black;
    text-transform: uppercase;
    text-align: center;
  }
  
  .page__body {
    min-height: 100%;
    min-width: $min-width;
    max-width: $max-width;
    margin: auto;
    background-color: $basic-white;
  
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }