.prices {
    border: 3px solid khaki;
    display: grid;
    grid-template-columns: minmax(288px, 370px) minmax(288px, 370px) 1fr;
    gap: 30px;

    max-width: 1200px;
    margin: auto;
}

.prices__tour-info {
    border: 1px solid $text-tabs;
    border-radius: 6px;

}

.prices__tour-included-item {
   position: relative;
   line-height: 32px;
   text-align: start;
   margin-top: 15px;
   padding: 0 30px 0 60px;
}

.prices__tour-included-item::before {
    content: "";
    position: absolute;
    background-image: url("../img/li_breadscrumb.svg");
    height: 22px;
    width: 22px;
    left: -45px;
}

.prices__proposal {
    border: 1px dashed palegoldenrod;
    box-sizing: border-box;
}

.prices__proposal_phone {
    position: relative;
    text-align: center;
}

.prices__proposal_phone::before {
    content: "";
    position: absolute;
    background-image: url("../img/Phone_logo_red.svg");
    height: 30px;
    width: 30px;
    left: -45px;
}