.prices {
    border: 3px solid khaki;

    display: flex;
    justify-content: space-between;
    gap: 2.5%;

    max-width: 1170px;
    margin: auto;   
    
    @media (max-width: $tablet-width) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.prices__tour-info {
    position: relative;
    flex: 0 0.3 310px;
    border: 1px solid $text-tabs;
    border-radius: 6px;
    text-align: start;
    padding: 40px 2.5% 130px;

    &:hover {
        border: 3px solid $on-hover-link;
        padding: 38px 28px 28px;

        .prices_title-price-container {
            color: $on-hover-link;
        }

        .prices__tour-included-item::before {
            background-image: url("../img/Breadscrumb.svg");
        }

        .prices__promo::after {
            background: $on-hover-link;
            opacity: 0.5;
        }
    }

    @media (max-width:$tablet-width) {
        flex-basis: 248px;;
    }
}

.prices_title-price-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: $tablet-width) {
        
    }
}

.prices__tour-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}

.prices__tour-price {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin: 0;
}  

.prices__promo {
    line-height: 24px;
    position: relative;

    @media (max-width: $tablet-width) {
        text-align: center  ;
    }
}

.prices__promo::after {
    content: "";
    background: $text-tabs;
    position: absolute;
    bottom: -28px;
    left: 0;
    height: 1px;
    width: 100%;
}

.prices__tour-included-item {
   position: relative;
   line-height: 32px;
   text-align: start;
   padding-left: 30px;
   margin-top: 15px;

   &:first-child {
        margin-top: 59px;
    }
}

.prices__tour-included-item::before {
    content: "";
    position: absolute;
    background-image: url("../img/Breadscrumb_red.svg");
    width: 14px;
    height: 12px;    
    left: 0;
    top: 10px;
}

.prices__button {
    position: absolute;
    bottom: 30px;
    width: 84%;
    display: block;
    transform: translate(-50%);
    left: 50%;

    @media (max-width: $tablet-width) {
      width: 288px;  
      bottom: 0;
    }
}

.prices__proposal {
    border: 1px dashed palegoldenrod;

    flex: 0 0.3 310px;
    box-sizing: border-box;
    text-align: start;
    margin-left: 5%;

    @media (max-width: $tablet-width) {
        order: -1;
        text-align: center;
        margin: 80px 21px 0;
        flex-basis: 726px;
    }
}

.prices__proposal-title {
    position: relative;
    font-weight: 600;
    font-size: 55px;
    line-height: 90px;

    @media (max-width: $tablet-width) {
        font-size: 30px;
        line-height: 150%;
    }
}

.prices__proposal-text {
    line-height: 170%;
    margin-top: 53px;

    @media (max-width:$tablet-width) {
        margin: 20px auto 0;
    }
}

.prices__proposal-title::after {
    content: "";
    background: $on-hover-link;
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 175px;
    height: 2.92px;

    @media (max-width: $tablet-width) {
        display: none;    
    }
}

.prices__proposal-contact-phrase {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: $text-most-black;
    text-align: center;
    margin: 60px auto 0;

    @media (max-width: $tablet-width) {
        font-size: 18px;
        margin: 30px auto 0;
    }
}

.prices__proposal-phone {
    position: relative;
    text-align: center;
    margin-top: 13px;

    @media (max-width:$tablet-width) {
        margin-top: 10px;
    }

    & a {        
        text-decoration: none;
        color: $basic-black;
        font-size: 20px;
        line-height: 32px;

        @media (max-width:$tablet-width) {
            font-size: 18px;
        }

        &:hover {
            color: $on-hover-link;
            text-decoration: underline;
        }
    }
}

.prices__proposal-phone::before {
    content: "";
    position: absolute;
    background-image: url("../img/Phone_logo_red.svg");
    width: 30px;
    height: 30px;    
    left: 0;

    @media (max-width:$tablet-width) {
        display: none;
    }
}