//Colors
$text-most-black: #141517;
$text-black: #2C2E3F;

$basic-white: #ffffff;
$nav-item-background:#FBF8F8;


// Viewports
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
$min-width: 320px;
$max-width: 1920px;