//Colors
$basic-black: #000000;
$basic-white: #ffffff;
$text-most-black: #141517;
$text-footer: rgba(20, 21, 23, 0.5);
$text-tabs: rgba(44, 46, 63, 0.3);
$text-ordinary: rgba(44, 46, 63, 0.7);
$text-black: #2C2E3F;
$on-hover-link: #FE7865;
$on-hover-mask:rgba(20, 21, 23, 0.6);

$nav-item-background:#FBF8F8;
$image-background: #87CEFA;

// Viewports
$desktop-width-only: 1025px;
$tablet-width: 1024px;
$mobile-width: 768px;
$min-width: 320px;
$max-width: 1920px;