//Colors
$text-most-black: #141517;
$text-footer: rgba(20, 21, 23, 0.5);
$text-black: #2C2E3F;
$on-hover-link: #FE7865;
$basic-white: #ffffff;
$nav-item-background:#FBF8F8;



// Viewports
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;